
nav{
  padding: 8px 8px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
nav ul{
  display: flex;
  list-style: none;
  gap: 20px;
}
nav img{
  height: 60px;
}